@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    .elm{
        list-style: none;
        flex-grow: 2;
    }
    .button {
        background-color: #fff;
        border: none;
        color: lighten($color-dark, 60%);
        &:hover:last-child{
            color: $color-dark;
        }
    }
    .isFavorite {
        color: $color-warning;
    }
}
